@import "tailwindcss";

@theme {
  --color-oxford-blue: #062644;
  --color-cerulean: #236B8E;
  --color-orange: #D10000;
  --color-jonquil: #F0C908;

  --font-family-sans: 'Montserrat', system-ui, sans-serif;

  --radius: 0.5rem;
}

/* Base styles */
h1 {
  @apply text-3xl font-bold text-[--color-oxford-blue];
}

h2 {
  @apply text-2xl font-semibold text-[--color-oxford-blue];
}

h3 {
  @apply text-xl font-medium text-[--color-cerulean];
}

body {
  @apply font-sans antialiased;
}
